.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.694824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.674805;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(255,153,0),0 0.015em rgb(255,153,0),0.015em 0 rgb(255,153,0),0 -0.015em  rgb(255,153,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(255,153,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,153,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(0,0,255);}
.fs2{font-size:44.000000px;}
.fs0{font-size:56.000000px;}
.fs1{font-size:248.000000px;}
.y0{bottom:0.000000px;}
.y1e{bottom:26.502138px;}
.y17{bottom:26.502199px;}
.y28{bottom:57.643801px;}
.y1a{bottom:57.963472px;}
.y25{bottom:57.963625px;}
.y1b{bottom:88.708498px;}
.y19{bottom:89.424807px;}
.ye{bottom:89.821505px;}
.yd{bottom:120.320955px;}
.y6{bottom:120.886141px;}
.y20{bottom:120.886232px;}
.y10{bottom:121.282839px;}
.y5{bottom:152.347475px;}
.y22{bottom:152.347567px;}
.y13{bottom:152.420565px;}
.yf{bottom:152.744173px;}
.ya{bottom:182.866854px;}
.y7{bottom:183.808840px;}
.y1c{bottom:183.808901px;}
.y14{bottom:183.881899px;}
.y12{bottom:184.205507px;}
.y1d{bottom:215.270235px;}
.y15{bottom:215.343233px;}
.yb{bottom:215.666872px;}
.y1f{bottom:246.731569px;}
.y9{bottom:246.804659px;}
.y11{bottom:247.128206px;}
.y24{bottom:247.128267px;}
.yc{bottom:278.589525px;}
.y18{bottom:278.662584px;}
.y4{bottom:310.050875px;}
.y8{bottom:310.050951px;}
.y16{bottom:310.123949px;}
.y21{bottom:343.098833px;}
.y3{bottom:368.702610px;}
.y2{bottom:385.502611px;}
.y1{bottom:410.468203px;}
.y23{bottom:451.581146px;}
.y27{bottom:508.104000px;}
.y26{bottom:520.104000px;}
.h4{height:29.927734px;}
.h2{height:38.089844px;}
.h1{height:38.281250px;}
.h3{height:165.292969px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x28{left:18.541084px;}
.x15{left:20.014420px;}
.x25{left:28.962471px;}
.x19{left:32.541275px;}
.x5{left:45.071545px;}
.x14{left:53.004650px;}
.x26{left:54.204166px;}
.x3{left:55.349377px;}
.x4{left:58.446056px;}
.x1e{left:88.521980px;}
.x1d{left:158.941082px;}
.x16{left:169.362469px;}
.x27{left:172.141277px;}
.x1f{left:181.457718px;}
.x1a{left:184.046059px;}
.x11{left:185.331217px;}
.x23{left:192.604652px;}
.x18{left:194.604164px;}
.x24{left:195.742348px;}
.x17{left:198.336586px;}
.xd{left:316.295628px;}
.x2{left:329.312012px;}
.xf{left:331.146702px;}
.xe{left:332.852266px;}
.x1{left:334.479980px;}
.xc{left:338.679901px;}
.x10{left:340.631561px;}
.x12{left:455.711109px;}
.x13{left:458.924000px;}
.x22{left:475.343918px;}
.x7{left:481.133957px;}
.x1b{left:596.445545px;}
.xb{left:603.558334px;}
.x20{left:614.175011px;}
.x1c{left:616.211655px;}
.x6{left:618.276108px;}
.xa{left:619.803940px;}
.x8{left:620.921616px;}
.x9{left:623.895370px;}
.x21{left:632.300011px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:74.666667pt;}
.fs1{font-size:330.666667pt;}
.y0{bottom:0.000000pt;}
.y1e{bottom:35.336184pt;}
.y17{bottom:35.336266pt;}
.y28{bottom:76.858401pt;}
.y1a{bottom:77.284630pt;}
.y25{bottom:77.284833pt;}
.y1b{bottom:118.277997pt;}
.y19{bottom:119.233075pt;}
.ye{bottom:119.762006pt;}
.yd{bottom:160.427940pt;}
.y6{bottom:161.181521pt;}
.y20{bottom:161.181643pt;}
.y10{bottom:161.710452pt;}
.y5{bottom:203.129967pt;}
.y22{bottom:203.130089pt;}
.y13{bottom:203.227420pt;}
.yf{bottom:203.658897pt;}
.ya{bottom:243.822472pt;}
.y7{bottom:245.078453pt;}
.y1c{bottom:245.078534pt;}
.y14{bottom:245.175865pt;}
.y12{bottom:245.607343pt;}
.y1d{bottom:287.026980pt;}
.y15{bottom:287.124311pt;}
.yb{bottom:287.555829pt;}
.y1f{bottom:328.975426pt;}
.y9{bottom:329.072879pt;}
.y11{bottom:329.504275pt;}
.y24{bottom:329.504356pt;}
.yc{bottom:371.452700pt;}
.y18{bottom:371.550112pt;}
.y4{bottom:413.401166pt;}
.y8{bottom:413.401268pt;}
.y16{bottom:413.498599pt;}
.y21{bottom:457.465111pt;}
.y3{bottom:491.603480pt;}
.y2{bottom:514.003482pt;}
.y1{bottom:547.290937pt;}
.y23{bottom:602.108195pt;}
.y27{bottom:677.472000pt;}
.y26{bottom:693.472000pt;}
.h4{height:39.903646pt;}
.h2{height:50.786458pt;}
.h1{height:51.041667pt;}
.h3{height:220.390625pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x28{left:24.721446pt;}
.x15{left:26.685893pt;}
.x25{left:38.616628pt;}
.x19{left:43.388367pt;}
.x5{left:60.095393pt;}
.x14{left:70.672867pt;}
.x26{left:72.272222pt;}
.x3{left:73.799169pt;}
.x4{left:77.928075pt;}
.x1e{left:118.029307pt;}
.x1d{left:211.921443pt;}
.x16{left:225.816625pt;}
.x27{left:229.521703pt;}
.x1f{left:241.943624pt;}
.x1a{left:245.394745pt;}
.x11{left:247.108289pt;}
.x23{left:256.806203pt;}
.x18{left:259.472219pt;}
.x24{left:260.989797pt;}
.x17{left:264.448781pt;}
.xd{left:421.727503pt;}
.x2{left:439.082682pt;}
.xf{left:441.528936pt;}
.xe{left:443.803022pt;}
.x1{left:445.973307pt;}
.xc{left:451.573202pt;}
.x10{left:454.175415pt;}
.x12{left:607.614812pt;}
.x13{left:611.898666pt;}
.x22{left:633.791890pt;}
.x7{left:641.511943pt;}
.x1b{left:795.260727pt;}
.xb{left:804.744446pt;}
.x20{left:818.900014pt;}
.x1c{left:821.615540pt;}
.x6{left:824.368144pt;}
.xa{left:826.405253pt;}
.x8{left:827.895487pt;}
.x9{left:831.860494pt;}
.x21{left:843.066681pt;}
}
